* {
box-sizing: border-box;
}

body {
    background-color: rgb(187, 187, 187);
}
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    width: 100%;
}
.half {
    float: left;
    width: 50%;
}
#christmasTree {
    min-height: 600px;
    text-align: center;
}
#windowSizeTemplate {
    display: none;
}